  <!--HERO IMAGE START-->
    <div class="bannerimage">
    	
    	<div class="container">
    		<div class="impcont col-lg-6 col-md-6">
    			<h1><b>ABOUT US</b></h1>
    		</div>
    	</div>
    </div>
<!-- HERO IMAGE END-->


<!-- ABOUT FOUNDER -->
<div class="aboutsectBG aboutsectBG1">
	
	<div class="container">
		<div class="leftDesc col-lg-6 col-sm-6">
			<div class="row">
				<div class="aboutNum col-lg-1 col-md-1 col-sm-1 col-xs-2 text-center" style="padding-left: 0px; padding-right: 0px;">
					<h2>45</h2>
				</div>
			</div>
			<div class="row">
				<div class="aboutDesc">
					<h1>GIULIANO FRANO</h1>
					<h3>FOUNDER - THE<b>COMPLETE 90</b></h3>
					<p class="aboutG">My College career started off at the University of Montevallo. During my two years there I was named the rookie of the year, won a conference championship, lead the team with assists, and eventually was offered the choice to transfer to Boston College. This gave me the exposure to professional teams that I was looking for. After my fist year at Boston College I lead the team with goals and was named as the Captain for the upcoming season. I was honoured to lead my team onto the pitch and was sad for it to come to an end when I was drafted to the Seattle Sounders FC at seasons end.<br> 
					<br>
	   				The Seattle Sounders FC marked the beginning of my professional career. My level of play increased at an incredible speed as expected when training with the likes of Clint Dempsey and Obafemi Martins. I continued my success and was rewarded with my proudest moment to date- representing Canada by being a part of the U-23 Mens National team at the 2016 Rio Olympic Qualifications. I played with the best Canadian players in the country and was coached by a previous Real Madrid Manager, Benito Flores. I learned more from Benito Flores in the 3 weeks with the National team then I had anywhere else.<br>
	   				<br>
	   				My National team call up created a buzz that landed me a contract with the Canadian squad, The Vancouver Whitecaps FC. I was living in a dream city doing what I loved. Unfortunately I couldn’t come to terms to stay another season. Therefore I am currently playing with Sigma FC in League 1 Ontario preparing myself for what is to come next.</p>
				</div>
			</div>
		</div>

		<div class="rightDesc col-lg-6 col-sm-6 container-fluid">
			<img src="assets/founder-pic.png">

		</div>
	</div>

</div>
<!-- ABOUT FOUNDER END -->

<!-- ABOUT 2 FOUNDER -->
<div class="aboutsectBG aboutsectBG2">
	
	<div class="container">

		<div class="rightDesc col-lg-6 col-sm-6 container-fluid">
			<img src="assets/Martin Headshot.png">

		</div>

		<div class="leftDesc col-lg-6 col-sm-6">
			<div class="row">
				<div class="aboutNum col-lg-1 col-md-1 col-sm-1 col-xs-2 text-center" style="padding-left: 0px; padding-right: 0px;">
					<h2>45</h2>
				</div>
			</div>
			<div class="row">
				<div class="aboutDesc">
					<h1>Martin Grzywa</h1>
					<h3>Director - THE<b>COMPLETE 90</b></h3>
					<p class="aboutG">Growing up, I played for USC Karpaty under the watchful eye of Darko Kowal. Heading into high school, I played club soccer for Etobicoke Energy (EYSC) where I captained the team for 2+ years. Approaching my final season of youth soccer, I moved to North Mississauga Panthers where I also captained the team. During this time I was also playing for my high school, Michael Power/St. Joseph in Etobicoke. Here I captained the team, earned MVP, athlete of the year, the leadership award as well as being a part of 2 championships. Then came the real test..<br> 
					<br>
					I committed to play at Thomas University, 30 minutes from Tallahassee, FL. I was living the dream-doing what I loved, meeting like-minded people from around the world all while soaking up the sunshine. Playing against ex-youth internationals was an eye-opening experience. My confidence and self-belief were tested. I had to learn quick the importance of mental strength, mental preparation and mental consistency required to play at a high level. Although it has not always been an easy road, my 2 years at TU have been a success. I started 28 of 30 games. As a freshman, I led the team in minutes played in our conference championship winning season in 2018. In 2019, I earned an academic-all conference award for my success on and off the field. I am now looking for an opportunity to test myself at an even higher level. <br>
	   				<br>
	   				During the summer seasons, I play League1 Ontario, most recently with ProStars FC where I finished the season with a starting spot. </p>
				</div>
			</div>
		</div>

		
	</div>

</div>
<!-- ABOUT 2 FOUNDER END -->

<!-- FAQ SECTION -->
<div class="faqBG" id="faqSec">
	<div class="container">
		<div class="faqTitle col-lg-12" style="padding-left: 0px; padding-right: 0px;">
			<a href="" class="inactiveLink">FAQ</a>
		</div>

			<div class="faq1 col-lg-10">
				<b>Where are the training sessions held?</b>
				<a (click)="toggleExpand('q1')"><i class="fa fa-plus-circle fa-2x" [ngClass]="{'fa-minus-circle': expandedQ1}" aria-hidden="true"></i></a>
				<p [ngClass]="{'q1show': expandedQ1 === true, 'q1hide': expandedQ1 === false}">The training sessions are predominantly held in Mississauga with you odd exception of travel within the GTA
				</p>
			</div>

			<div class="faq col-lg-10">
				<b>Can I join an already existing group?</b>
				<a (click)="toggleExpand('q2')"><i class="fa fa-plus-circle fa-2x" [ngClass]="{'fa-minus-circle': expandedQ2}" aria-hidden="true"></i></a>
				<p [ngClass]="{'q1show': expandedQ2 === true, 'q1hide': expandedQ2 === false}">Joining of an existing group is possible if the players skill level and age is similar to that of the group.
				</p>
			</div>	

			<div class="faq col-lg-10">
				<b>What are the training times?</b>
				<a (click)="toggleExpand('q3')"><i class="fa fa-plus-circle fa-2x" [ngClass]="{'fa-minus-circle': expandedQ3}" aria-hidden="true"></i></a>
				<p [ngClass]="{'q1show': expandedQ3 === true, 'q1hide': expandedQ3 === false}">The training time is dependent on the availability of both the player and the coach. Both parties are free to communicate and coordinate an appropriate time.
				</p>
			</div>			

			<div class="faq col-lg-10">
				<b>Is there sessions during the winter and where?</b>
				<a (click)="toggleExpand('q4')"><i class="fa fa-plus-circle fa-2x" [ngClass]="{'fa-minus-circle': expandedQ4}" aria-hidden="true"></i></a>
				<p [ngClass]="{'q1show': expandedQ4 === true, 'q1hide': expandedQ4 === false}"> Winter sessions are available however are very limited. The sessions will be held in school gymnasiums and will have set days and times.
				</p>
			</div>

			<!-- <div class="faq col-lg-10">
				<b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra sem in nulla faucibus venenatis?</b>
				<a (click)="toggleExpand('q5')"><i class="fa fa-plus-circle fa-2x" [ngClass]="{'fa-minus-circle': expandedQ5}" aria-hidden="true"></i></a>
				<p [ngClass]="{'q1show': expandedQ5 === true, 'q1hide': expandedQ5 === false}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra sem in nulla faucibus venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra sem in nulla faucibus venenatis.
				</p>
			</div> -->

			<div class="faqSpace col-lg-12">
			</div>			

	</div>
	
</div>

<!-- FAQ SECTION END -->


<!-- POST CARD END -->

<!-- PLAYER/COACH SECTION-->
<div class="playercoachCont container-fluid">
	<!-- SMALL DISPLAY -->
	<!-- <div class="row"> -->
		<!-- PLAYER SIDE -->
		<div class="playerPromoCont" id="sm-ad">
			<div class="col-sm-12 playerPromo">

				<div class="col-lg-6 col-md-6 col-sm-6 playerPromoText">
					<a href="" class="inactiveLink">PLAYER</a>
					<h1>THE<b>COMPLETE 90</b> for players</h1>
					<div class="PromoSignbtn">
						<a [routerLink]="['/login_signup']">SIGN UP</a>
					</div>
				</div>
				<div class="col-lg-6 col-sm-6 playerPromoImage">
					<img src="assets/playereditpic.png">
				</div>

			</div>	
		</div>
		<!-- COACH SIDE -->
		<div class="coachPromoCont" id="sm-ad">
			<div class="col-sm-12 coachPromo">

				<div class="col-lg-6 col-md-6 col-sm-6 coachPromoText">
					<a href="" class="inactiveLink">CLUB</a>
					<h1>THE<b>COMPLETE 90</b> for clubs</h1>
					<div class="PromoSignbtn">
						<a href="#" onclick="return false;">COMING SOON</a>
					</div>
				</div>
				<div class="col-lg-6 col-sm-6 coachPromoImage">
					<img src="assets/coachpic.png">
				</div>

			</div>		
		</div>

		<!-- LARGE DISPLAY -->
		<ul class="flexlist" id="lg-ad">
			<!-- PLAYER SIDE -->
			<li class="flexlist-item playerPromo">
				<div class="col-lg-6 col-md-6 col-sm-6 playerPromoText">
					<a href="" class="inactiveLink">PLAYER</a>
					<h1>THE<b>COMPLETE 90</b> for players</h1>
					<div class="PromoSignbtn">
						<a [routerLink]="['/login_signup']">SIGN UP</a>
					</div>
				</div>
				<div class="col-lg-6 col-sm-6 playerPromoImage">
					<img src="assets/playereditpic.png">
				</div>
			</li>

			<!-- COACH SIDE -->
		    <li class="flexlist-item coachPromo">
		    	<div class="col-lg-6 col-md-6 col-sm-6 coachPromoText">
					<a href="" class="inactiveLink">CLUB</a>
					<h1>THE<b>COMPLETE 90</b> for clubs</h1>
					<div class="PromoSignbtn">
						<a onclick="return false;">COMING SOON</a>
					</div>
				</div>
				<div class="col-lg-6 col-sm-6 coachPromoImage">
					<img src="assets/coachpic.png">
				</div>
		    </li> 
		</ul>
	<!-- </div> -->
</div>
<!-- PLAYER/COACH SECTION END -->


<!-- AFFILIATES SECTION -->
<div class="container-fluid affiliates">
	<div class="col-lg-12">
		<div class="col-lg-11 affDesc text-center">
			<h1>Affiliates</h1>
		</div>			
	</div>

	<div class="col-lg-12 row sponRow">
		<div class="sponLogo1 col-lg-6 col-sm-6 text-center">
			<a href="https://theharrisbrand.com/" target="_blank"><img src="assets/Harris-Brand-Logo.png"></a>
		</div>
		<div class="sponLogo2 col-lg-6 col-sm-6 text-center">
			<a href="https://nuwtr.com/?v=c4782f5abe5c" target="_blank"><img src="assets/NUWTR-logo.png"></a>
		</div>
	</div>
</div>
<!-- AFFILIATES SECTION END -->




<!-- QUOTE SECTION -->
	<div class="container-fluid">
		<div class="col-lg-12 quoteStyle text-center">
			<div>
				<h1><b>"As a captain, I must always be an example to my teammates”</b> - ALESSANDRO DEL PIERO</h1>
			</div>
		</div>
	</div>
<!-- QUOTE SECTION END-->
