/*--------------------------TABLE OF CONTENTS-------------------------*/
/*
0. GLOBAL CCS
1. BANNER IMAGE
2. ABOUT FOUNDER
3. FAQ SECTION
4. AFFILIATES SECTION
5. PLAYER/COACH SECTION
6. QUOTE SECTION


*/

/*----------------------------0. GOBAL CSSS--------------------------*/

div{
	font-family: 'Montserrat';
}

.inactiveLink{
   pointer-events: none;
   cursor: default;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

/*----------------------------1. BANNER IMAGE--------------------------*/
.bannerimage{
	padding-top: 120px;
	background-image: url('../../../assets/aboutus-banner.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 250px;
	width: 100%;
	color: white;
}

/*----------------------------2. ABOUT FOUNDER--------------------------*/
.aboutsectBG{
	padding-top: 100px;
	background-image: url('../../../assets/aboutbg-pic.png');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 250px;
	width: 100%;
}

.aboutsectBG1 {
	background-color: #FBFBFF;
}

.aboutsectBG2 {
	background-image: url('../../../assets/aboutbg-rotated-pic.png');
	background-position: right;
}

.leftDesc{
	color: #484848;
}

.aboutNum h2{
	background-color: #fd1541;
	border: 1px solid #fd1541;
	border-radius: 50px;
	color: white;
	font-size: 23px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.aboutDesc h1{
	font-size: 30px;
	color: #252525;
}

.aboutDesc h3{
	color: #252525;
	font-size: 20px;
	padding-bottom: 40px;
	border-bottom: 1px solid #00000024;
}

.aboutDesc p{
	padding-top: 25px;
	padding-bottom: 110px;
}

.rightDesc img{
	padding-top: 150px;
	max-width: 100%;
}


/*-------------------------------3. FAQ SECTION----------------------------*/

.faqBG{
	background-color: #fbfbff;
	color: #1e1e1e;
}

.faqBG h2{
	font-size: 14px;
	margin: 0px;
	padding-top: 10px;
}

.faqTitle{
	padding-top: 100px;
	font-size: 24px;
}

.faqTitle a{
	background-color: #fd1541;
	color: white;
	padding: 6px 16px 6px 16px;
}

.faq1{
	padding-top: 60px;
	padding-bottom: 40px;
}

.faq{
	padding-top: 0px;
	padding-bottom: 40px;
}

.faqBG i{
	color: #fd1541;
	padding-left: 15px;
}

.faqBG p{
	padding-top: 20px;
}

.q1show{
	display: block;
}

.q1hide{
	display: none;
}


.faqSpace{
	padding-bottom: 80px;
}


/*----------------------------5. AFFILIATES SECTION---------------------------*/
.affiliates {
	background-color: #FBFBFF;
}
.affDesc h1{
	font-size: 30px;
    color: #252525;
    padding-top: 80px;
    padding-bottom: 40px;
}

.sponRow{
    padding-bottom: 80px;
}

.sponLogo1 img{
    max-width: 40%;
}

.sponLogo2 img{
	padding-top: 20px;
    max-width: 45%;
}

/*-----------------------5. PLAYER/COACH SECTION---------------------------*/
.playerPromo{
	background-color: #0e233e;
}

.coachPromo{
	background-color: #182c4d;
}

.playerPromo a{
	font-size: 26px;
	text-decoration: none;
	color: white;
	background-color: #fd1541;
	padding: 7px 45px 7px 5px;
}

.playerPromo{
	padding-top: 5px;
	padding-left: 0 !important;
}

.playerPromoText{
	padding-left: 0 !important;	
}

.playerPromoText h1{
	padding-top: 145px;
	padding-left: 95px;
	padding-bottom: 20px;
	font-size: 24px;
	position: relative;
    top: -25px;
}

.playerPromo img{
	padding-top: 15px;
    max-width: 70%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.PromoSignbtn {
	position: relative;
    top: -20px;
}

.PromoSignbtn a{
	font-size: 12px;
	margin-left: 95px;
	text-decoration: none;
	background-color: transparent;
	border: 1px solid #fd1541;
	padding: 7px 25px 7px 25px;
}

.PromoSignbtn a:hover{
	color: white;
	text-decoration: none;
	background-color: #fd1541;
	border: 1px solid #fd1541;
}


.playerPromoImage, .coachPromoImage {
	padding-top: 400px;
}



.coachPromo a{
	font-size: 26px;
	text-decoration: none;
	color: white;
	background-color: #fd1541;
	padding: 7px 45px 7px 5px;
}

.coachPromo{
	padding-top: 5px;
	padding-left: 0 !important;
}

.coachPromoText{
	padding-left: 0 !important;	
}

.coachPromoText h1{
	padding-top: 145px;
	padding-left: 95px;
	padding-bottom: 20px;
	font-size: 24px;
	position: relative;
    top: -25px;
}

.coachPromo img{
	padding-top: 15px;
	max-width: 100%;
	position: absolute;
    bottom: 0px;
    right: 0px;
}

.coachPromo .PromoSignbtn a{
	font-size: 12px;
	margin-left: 95px;
	text-decoration: none;
	background-color: transparent;
	border: 1px solid #fd1541;
	padding: 7px 25px 7px 25px;
}

.coachPromo .PromoSignbtn a:hover{
	color: white;
	text-decoration: none;
	background-color: #fd1541;
	border: 1px solid #fd1541;
}

.flexlist{ 
	display: -webkit-flex; 
	display: -ms-flexbox; 
	display: flex; 
	-webkit-flex-wrap: wrap; 
	-ms-flex-wrap: wrap; 
	flex-wrap: wrap; 
	overflow: hidden;
	padding-left: 0px;
	margin-bottom: 0px;
}

.flexlist-item{ 
	width: calc(100% / 2 - 0px); 
	float: left; 
	display: -webkit-flex; 
	display: -ms-flexbox; 
	display: flex;
}

#sm-ad{
	display: none;
}




/*----------------------------6. QUOTE SECTION---------------------------*/
.quoteStyle h1{
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 20px;
	color: #484848;
}


/* ----------------------------MEDIA QUERIES------------------------------*/


@media (max-width: 1200px) {
	.coachPromo .PromoSignbtn a{
	    font-size: 10px;
	}
	
	.aboutG{
			font-size: 11px;
		}


}

@media (max-width: 1024px) {

	.aboutNum h2{
		background-color: #fd1541;
		border: 1px solid #fd1541;
		border-radius: 50px;
		color: white;
		font-size: 30px;
		padding-top: 22px;
		padding-bottom: 22px;
	}

	.persTrain h1{
		padding-top: 20px;
	}

	.coachPromo img{
		padding-top: 15px;
		max-width: 100%;
	}	

	#lg-ad{
		display: none;
	}

	#sm-ad{
		display: block;
	}

}

@media (max-width: 991px) {

	.coachPromo img, .playerPromo img{
		position: relative;
	}
}


@media (max-width: 768px) {

	.bannerimage{
		padding-top: 120px;
		min-height: 250px;
	}	
	
	.impcont h1{
		font-size: 26px;
	}	

	.aboutNum h2{
		background-color: #fd1541;
		border: 1px solid #fd1541;
		border-radius: 50px;
		color: white;
		font-size: 14px;
		padding-top: 22px;
		padding-bottom: 22px;
	}

	.sponLogo1 img{
		padding-bottom: 80px;
	}

	.playerPromoImage, .coachPromoImage {
		padding-top: 50px;
	}


}






@media (max-width: 414px) {

	.aboutG {
	    font-size: 12px;
	}

	#faqSec{
		font-size: 12px !important;
	}

	.bannerimage{
		padding-top: 90px;
		min-height: 200px;
	}


	.playerPromoText h1 {
	    padding-top: 90px;
	}

	.coachPromoText h1 {
	    padding-top: 90px;
	}

	.rightDesc img{
	    padding-top: 40px;
	}

}