<footer class="footernav navbar-static-bottom col-lg-12">
    <div class="container-fluid text-center">
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="footernavLinks text-center">
                    <li><a [routerLink]="['/contact']" >CONTACT US</a></li>
                    <li><a [routerLink]="['/terms']">TERMS OF USE</a></li>
                    <li><a [routerLink]="['/privacy']">PRIVACY</a></li>
                    <li><a [routerLink]="['/about']" fragment="faqSec">FAQ</a></li>
                    <li><a [routerLink]="['/login_signup']">SIGN UP</a></li>
                </ul>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="footernavSocial text-center">
                    <li><a href="https://www.facebook.com/thecomplete90/" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/thecomplete90/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <ul class="text-center">
                    <ul>© 2019 THECOMPLETE 90. All rights reserved. Unauthorized distribution, transmission or republication is strictly prohibited.</ul>
                </ul>
            </div>
        </div>
    </div>
</footer>
