<footer class="footernav navbar-static-bottom col-lg-12">
	<div class="container-fluid text-center">
		<div class="row text-center">
			<ul class="footernavLinks col-lg-5 col-lg-offset-4">
	        	<li><a href="#/">CONTACT US</a></li>
	            <li><a href="#/">TERMS & CONDITION</a></li>
	            <li><a href="#/">PRIVACY</a></li>
	            <li><a href="#/">FAQ</a></li>
	            <li><a href="#/">SIGN UP</a></li>		
			</ul>
		</div>

		<div class="row text-center">
			<ul class="footernavSocial col-lg-2 col-lg-offset-5">
				<li><a href="#/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="#/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				<li><a href="#/"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
			</ul>
		</div>

	</div>
</footer>
