<footer class="footernav col-lg-12">
	<div class="container-fluid text-center">
			<ul class="footernavLinks col-lg-12">
	        	<li><a href="#/">CONTACT US</a></li>
	            <li><a href="#/">TERMS & CONDITION</a></li>
	            <li><a href="#/">PRIVACY</a></li>
	            <li><a href="#/">SIGN UP</a></li>		
			</ul>

			<ul class="footernavSocial col-lg-12">
				<li><a href="#/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="#/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				<li><a href="#/"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
			</ul>
	</div>
</footer>
