 <!--HERO IMAGE START-->
    <div class="bannerimage">
    	
    	<div class="container">
    		<div class="impcont col-lg-6 col-md-6">
    			<h1><b>DASHBOARD</b></h1>
    		</div>
    	</div>
    </div>
<!-- HERO IMAGE END-->

<!-- DASHBOARD TILES -->
	<div class="padding">
		<!-- QUICK STATS TILES -->
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="box p-a stat1">
					<div class="pull-left m-r">
						<span class="w-48 rounded  accent">
							<i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
						</span>
					</div>
					<div class="clear">
						<h1 class="m-0">{{ stats.watched }}</h1>
						<h2 class="m-0">Total time trained</h2>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4">
				<div class="box p-a stat1">
					<div class="pull-left m-r">
						<span class="w-48 rounded  accent2">
							<i class="fa fa-eye fa-2x" aria-hidden="true"></i>
						</span>
					</div>
					<div class="clear">
						<h1 class="m-0">{{ stats.viewedTotal }}</h1>
						<h2 class="m-0">Total sessions viewed</h2>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-4">
				<div class="box p-a stat1">
					<div class="pull-left m-r">
						<span class="w-48 rounded  accent3">
							<i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
						</span>
					</div>
					<div class="clear">
						<h1 class="m-0">{{ getSubscriptionLeft() }} days</h1>
						<h2 class="m-0">Left of membership </h2>
					</div>
				</div>
			</div>			

		</div>
		<!-- QUICK STATS SECTION END-->

		<!-- PROFILE & SUGGESTED TILES -->
		<div class="row" id="mainTiles">
			<div class="col-sm-12 col-md-6">
				<div class="box p-a">
					<div class="box-header">
						<h3 class="m-0"><b>PROFILE</b></h3>
					</div>

					<div class="box-tool">
				        <ul class="nav">
				          <li class="nav-item inline dropdown">
				            <a class="dropdown-toggle" data-toggle="dropdown">
				              <i class="fa fa-pencil" aria-hidden="true"></i>
				            </a>
				            <ul class="dropdown-menu">
				            	<li>
				            		<a class="dropdown-item" href="">Edit Profile</a>
				          		</li>
				            </ul>
				          </li>
				        </ul>
				    </div>

					<div class="col-md-12 text-center">
						<div class="uploadOver">
							<img src="assets/player-pic.png" class="profilePic">
							<div class="uploadIcon">
								<a href=""><i class="fa fa-camera fa-2x" aria-hidden="true"></i></a>
							</div>
						</div>
						<div class="profileName">
							<h3>{{ profile.name }}</h3>
						</div>
					</div>
					<ul class="list">
						<li>
							<div class="row">
								<a class="inactiveLink">POSITION: </a>
								<input type="" name="" class="profileInput" placeholder="Edit Position">
							</div>
						</li>
						<li>
							<div class="row">
								<a class="inactiveLink">HEIGHT: </a>
								<input type="" name="" class="profileInput" placeholder="Edit Height">
							</div>
						</li>
						<li>
							<div class="row">
								<a class="inactiveLink">PR. FOOT: </a>
								<input type="" name="" class="profileInput" placeholder="Edit Pr. Foot">
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-sm-12 col-md-6">
				<div class="box p-a">
					<div class="box-header">
						<h3 class="m-0 suggestedHeader"><b>SUGGESTED VIDEOS</b></h3>
					</div>

					<div class="box-tool">
				        <ul class="nav">
							<li class="nav-item inline">
		            			<a class="nav-link" id="seeMorebtn">
		              			SEE MORE
		            			</a>
		          			</li>
				        </ul>
				    </div>

					<ul class="listVids">
						<li>
							<div class="row text-center" id="vidBG">
								<div class="col-lg-2 col-xs-3">
								<img src="assets/player-pic.png" class="vidPic"></div>
								<div class="col-lg-8 vidName"><a class="vidLink">Juggling with both feet </a></div>
							</div>
						</li>
						

						<li>
							<div class="row text-center" id="vidBG">
								<div class="col-lg-2 col-xs-3">
								<img src="assets/player-pic.png" class="vidPic"></div>
								<div class="col-lg-8 vidName"><a class="vidLink">First Touch </a></div>
							</div>
						</li>

						<li>
							<div class="row text-center" id="vidBG">
								<div class="col-lg-2 col-xs-3">
								<img src="assets/player-pic.png" class="vidPic"></div>
								<div class="col-lg-8 vidName"><a class="vidLink">First Touch </a></div>
							</div>
						</li>
					</ul>

				</div>
			</div>

		</div>
		<!-- PROFILE & SUGGESTED TILES END-->

		<!-- SETTINGS TILES -->
		<div class="row mainTiles" id="">
			<div class="col-xs-12 col-md-4">
				<div class="box p-a">
					<div class="box-header">
						<h3 class="m-0"><b>SECURITY</b></h3>
					</div>

					<div class="box-tool">
				        <ul class="nav">
							<li class="nav-item inline">
		            			<a class="nav-link">
		              				<i class="fa fa-plus" aria-hidden="true" (click)="toggleSecurity()"></i>
		            			</a>
		          			</li>
				        </ul>
				    </div>

				    <div *ngIf="securityActive" class="desc-p">
				    	<small>Use the form below if you wish to update your password</small>
					</div>

				    <form *ngIf="securityActive" class="form-p">
				    	<div class="form-group">
							<input type="password" [(ngModel)]="model.oldPassword" name="oldpass" class="form-control" placeholder="Old Password">
				    	</div>

				    	<div class="form-group">
							<input type="password" [(ngModel)]="model.newPassword" name="newpass" class="form-control" placeholder="New Password">
				    	</div>				    	

				    	<div class="form-group">
							<input type="password" [(ngModel)]="model.verifyPassword" name="newpassCon" class="form-control" placeholder="Confirm New Password">
				    	</div>				    	

				    	<button (click)="updatePassword()" class="savePassbtn">SAVE</button>
				    </form>

				</div>
			</div>

			<div class="col-xs-12 col-md-4">
				<div class="box p-a">
					<div class="box-header">
						<h3 class="m-0"><b>PAYMENTS</b></h3>
					</div>

					<div class="box-tool">
				        <ul class="nav">
							<li class="nav-item inline">
		            			<a class="nav-link">
		              				<i class="fa fa-plus" aria-hidden="true" (click)="togglePayment()"></i>
		            			</a>
		          			</li>
				        </ul>
				    </div>

				    <div *ngIf="paymentActive" class="desc-p">
				    	<small>Current payment method</small>
					</div>

					<div *ngIf="paymentActive" class="desc-p currentPaybg">
						<div class="row m-0">
							<div class="col-lg-3 col-xs-3 text-center">
								<h6>Payment</h6>
							</div>
							<div class="col-lg-6 col-xs-6 text-center">
								<h6>Credit Card Ending</h6>
							</div>
							<div class="col-lg-3 col-xs-3 text-center">
								<h6>Expires</h6>
							</div>							
						</div>

						<div *ngFor="let card of profile.creditCards" class="row m-0">
							<div class="col-lg-3 col-xs-3 text-center">
								<i *ngIf="card.cardType === 'Visa'" class="fa fa-cc-visa fa-2x" aria-hidden="true"></i>
								<i *ngIf="card.cardType === 'Paypal'" class="fa fa-cc-paypal fa-2x" aria-hidden="true"></i>
								<i *ngIf="card.cardType === 'Master'" class="fa fa-cc-mastercard fa-2x" aria-hidden="true"></i>
							</div>
							<div class="col-lg-6 col-xs-6 text-center">
								<h5 class="ccFile">**** **** **** {{ card.last4 }}</h5>
							</div>
							<div class="col-lg-3 col-xs-3 text-center">
								<h5 class="ccFile">{{ card.expirationDate }}</h5>
							</div>							
						</div>

					</div>			
				</div>
			</div>

			<div class="col-xs-12 col-md-4">
				<div class="box p-a">
					<div class="box-header">
						<h3 class="m-0"><b>NOTIFICATIONS</b></h3>
					</div>

					<div class="box-tool">
				        <ul class="nav">
							<li class="nav-item inline">
		            			<a class="nav-link">
		              				<i class="fa fa-plus" aria-hidden="true" (click)="toggleNotification()"></i>
		            			</a>
		          			</li>
				        </ul>
				    </div>

				    <div *ngIf="notificationActive" class="desc-p">
				    	<small>Below are your notification preferences</small>
					</div>

					<div *ngIf="notificationActive" class="desc-p">
						<div class="row m-0">
							
							<div class="form-group2 col-xs-1 no-pa">
								<input type="checkbox" name="emailnews">
							</div>
							<div class="col-xs-11 no-pa">
								<label>Receive newsletter from The Complete 90</label>
							</div>

							<div class="form-group2 col-xs-1 no-pa">
								<input type="checkbox" name="emailnews">
							</div>
							<div class="col-xs-11 no-pa">
								<label>Receive newsletter from The Complete 90</label>
							</div>

							<div class="form-group2 col-xs-1 no-pa">
								<input type="checkbox" name="emailnews">
							</div>
							<div class="col-xs-11 no-pa">
								<label>Receive newsletter from The Complete 90</label>
							</div>							


						</div>

					</div>
				</div>
			</div>			
		</div>		
		<!-- SETTINGS TILES END -->
	</div>
<!-- DASHBOARD TILES END-->


