<div class="container">
	<div class="pri">
		<h1>PRIVACY POLICY</h1>

		<p>
			<i>Last Update: December 4, 2018</i><br>
			<br>
			<b>The Complete 90</b> (collectively, the “Provider”, “We”, “Our” and “Us”) is committed to improving soccer skills through accessing, browsing and/or using this website or any part of it (hereinafter the “Site”), that provides an online service (the “Service”) by which You may access individual and group personal training, goalkeeper training, soccer camps, and an online library of training session videos to improve your soccer skills, which for the most part requires You to purchase a membership subscription.<br>
			<br>
			As used herein, the term “You” refers to you, the user and/or subscriber of the Site, if you are 18 years of age or older, or, as applicable, your child on whose behalf you agree to allow access to the Site.<br>
			<br>
			<b>We Respect Your Right To Privacy</b><br>
			We take your privacy seriously. This Privacy Policy sets forth important information concerning the collection of personally identifiable information from You (or your child, as applicable) when you use the website located at <a href="https://thecomplete90.com/" target="_blank">www.thecomplete90.com</a> (the “Site”). We have structured this policy to reflect this core belief and put you in control of how your personal information (“Personal Information”) is processed, the information we collect, how we use it, and under what circumstances we disclose it. For the purposes of this Privacy Policy, “Personal Information” means any information, recorded in any media or form, about an identifiable individual (including name, address, telephone number, email address, credit card information) but does not generally include business contact information.<br>
			<br>
			The contents of this Privacy Policy are intended to be read and understood in accordance and compliance with all applicable privacy laws, statutes, and regulations applicable in the Province of Ontario.<br>
			<br>
			<b>Application of this Privacy Policy</b><br>
			This Privacy Policy applies to Provider, but it does not apply to the websites of our business partners (i.e. any subcontractor, vendor or other entity with whom we have an ongoing business relationship to provide products, services or information) or to any other third parties, even if their websites are linked to our website. We recommend that You review the privacy policies of the other parties with whom you interact. If you have any questions regarding this Privacy Policy, the practices of this Site, or your dealings with this Site, please contact us at <a href="mailto:support@thecomplete90.com">support@thecomplete90.com</a><br>
			<br>
			Your use of our Site is further governed under its applicable <a [routerLink]="['/terms']"> Terms of Use.</a><br>
			<br>
			<b>Collection, Retention and Use of Personal Information</b><br>
			We collect and retain, and use Personal Information about users of this Site. Except as set forth within this Privacy Policy, the Terms of Use, and any other published guidelines, we do not release Personal Information about users of this Site without their permission.<br>
			<br>
			By using this Site, You consent to the collection and use of Personal Information by Provider. Provider reserves the right to amend this Privacy Policy from time to time by notifying you via this Site, and You are advised to review this page regularly for any changes. It is important that You review Provider’s Terms of Use and this Privacy Policy prior to using this Site. In particular, please note the disclaimers contained in the Terms of Use, which shall also apply to this Privacy Policy.<br>
			<br>
			<b>What Type of Information do we gather?</b><br>
			We gather two types of Personal Information about the users of our Site:<br>
			1. Personal identifying information; and<br>
			2. Non-personal identifying information.<br>
			<br>
			<b>Personal Identifying Information</b><br>
			Any personal identifying information required is collected only when You knowingly and willingly provide it. We will explicitly ask for information that personally identifies You, such as basic contact information (e.g. name, email address, telephone numbers, mailing address, etc.), credit card information (including card number, expiry date and CVS code) and optional player profile information (e.g. profile photo, weight, height, username, location) when signing up for membership subscription services. Specifically, this personal identifying information is requested when you are requesting information from Provider.<br>
			<br>
			Before we collect any personally identifiable information, we will provide an explanation for the possible use of your data. The information You supply will be used by Provider to create player profiles displayed on the Site, post all users’ training statistics, or supplied to our business partners to respond to your inquiries, and supply You with requested information on Provider’s products or services.<br>
			<br>
			Provider will only collect personally identifiable information (such as name, title, company name, address, telephone number, credit card information or e-mail address) that You voluntarily provide through our Site or email correspondence.<br>
			<br>
			<b>Non-personal Identifying Information</b><br>
			Non-personal identifying information is collected with each visit to this Site and may provide us with the following information; which pages were visited, how long You viewed each of our videos, which training resources were accessed and for how long, which hyperlinks were clicked, which operating system and browser software was used. This Non-personal identifying information allows us, to among other things; monitor Site traffic, internal operations, identify areas and services of our Site that are most popular, and determine the effectiveness of our products and services. This information also provides a means by which we can compile and perform statistical analyses of the overall characteristics and general behaviour of the users of our Site. We may on occasion use this non-personal identifying<br>
			<br>
			information to provide statistical information to advertisers, affiliates, business partners and other current and potential promotional partners.<br>
			<br>
			<b>Use of Cookies</b><br>
			In browsing the web, You will encounter “cookies”, which are files or pieces of information that may be stored on your computer’s hard drive when You visit a website. We may use cookies (including web beacons) to ensure that You obtain the information You request. The cookie(s) we pass to You are anonymous. They do not reveal your personal identity, they will not follow You throughout your travels on the web, nor can they capture private data. Rather, these cookies establish a user session and to allow our server to correctly provide Site users with the appropriate frames and content. We are not concerned with who is using our Site, but rather how our Site is being used. We track the usage in order to modify the Site according to our customers' needs. We pay attention to what information is requested and attempt to make it easier to find in the future. Please understand that any data captured from this system is for internal use only and is not shared with anyone else.<br>
			<br>
			While most Internet browsers are initially set up to accept cookies. If You do not wish to accept cookies, You can set your browser to refuse cookies or to alert You when cookies are being sent.<br>
			<br>
			<b>How we use your Personal Information.</b><br>
			Provider uses your Personal Information to:<br>
			• Process your purchases of membership subscription services<br>
			• Creation of a player profile page for all users that is accessible by all the other users of the Site<br>
			• Post a leaderboard on the Site, accessible to all users, detailing the top users using the training resources available through the Site<br>
			• Respond directly, or passes it along to one or more of our business partners to respond, to your inquiries or requests for information about products or services available from Provider, its corporate affiliates and business partners<br>
			• Keep You up-to-date regarding the latest products and services offered by Provider, its corporate affiliates and business partners<br>
			• Prevent fraud and other prohibited or illegal activities<br>
			• Protect the security or integrity of this Site, our business, or our products and services; or<br>
			• Otherwise, as disclosed to You at the point of collection<br>
		<br>
		<b>When will we share and disclose Personal Information?</b><br>
		Provider reserves the right to disclose your Personal Information to one or more of our business partners in order for them to respond directly to your inquiry or requests for information about products or services available from Provider. Provider may also disclose your Personal Information when a user is in violation of our Terms of Use, or other published guidelines. We may also disclose such information in response to court orders, governmental orders, civil subpoenas, discovery requests, and any other requests required by law. We also reserve the right to report any suspected illegal activity to law enforcement for investigation or prosecution.<br>
		<br>
		<b>For How Long and Where do we keep your Personal Information?</b><br>
		We keep Personal Information only so long as is needed in order to meet the purposes set out in this Privacy Policy, including for the purpose of enabling us to meet any legal or regulatory requirements. The principal place in which Provider holds Personal Information is in Mississauga, Ontario.<br>
		<br>
		<b>Links to Third Party Sites</b><br>
		This Site may contain links to third party websites. Provider is not responsible for the privacy policies and how such third parties collect, use or disclose your Personal Information, so You should review such third party’s privacy policies before providing them with your Personal Information.<br>
		<br>
		<b>Security</b><br>
		Provider endeavours to maintain appropriate physical, procedural and technical security with respect to its offices and information storage facilities and equipment so as to prevent any loss, misuse, unauthorized access, disclosure, or modification of your Personal Information. Provider further protects Personal Information by restricting access to it to those of its employees and business partners that need to know the information in order that Provider may provide its products, services or information.<br>
		<br>
		<b>Change or Modify</b><br>
		You may change or modify your Personal Information previously provided to us by contacting Provider’s Privacy Officer at the mailing or email address noted below.<br>
		<br>
		<b>Questions?</b><br>
		Provider welcomes comments and questions on this Privacy Policy. We are dedicated to protecting your Personal Information, and will make every reasonable effort to keep that information secure. Due to the rapidly evolving technologies on the Internet, we may occasionally update this policy. All revisions will be posted to this Site. All comments and questions about this Privacy Policy, should be sent to Provider:<br>
		</p>

		<p class="col-lg-4 col-lg-offset-4 col-sm-5 col-sm-offset-3 contactp">
		By writing:<br>
		The Complete 90 Attention: Privacy Officer<br>
		1475 Inuit Trail Mississauga, Ontario L5N 8C1<br>
		<br>
		Or by emailing us at <a href="mailto:support@thecomplete90.com">support@thecomplete90.com</a>
		</p>

	</div>
</div>

