 <!--HERO IMAGE START-->
    <div class="bannerimage">
        
        <div class="container">
            <div class="impcont col-lg-6 col-md-6">
                <h1><b>Program</b></h1>
            </div>
        </div>
    </div>
<!-- HERO IMAGE END-->

<div class="container-fluid py-5">
        <div class="container programs-container">
            <div class="row">
                <div class="col-md-10 mx-auto mt-5 programs">
                    <h3>1 on 1 Session</h3>
            <p class="py-2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.            </p>
                        <div class="row programs-rates ">
                            <div class="col-md-4">
                                <h4 class="expand">Rates <span>+</span></h4>
                                <h5 class="rate">190.5$</h5>
                            </div>
                            <div class="col-md-8">
                        <a href="#" class="events-btn float-right">Contact Us</a>
                        </div>
                        </div>
                </div>
                        <div class="col-md-10 mx-auto mt-5 programs">
                    <h3>Elite Program</h3>
            <p class="py-2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.            </p>
                        <div class="row programs-rates">
                            <div class="col-md-4">
                                <h4 class="expand">Rates <span>+</span></h4>
                                <h5 class="rate">190.5$</h5>
                            </div>
                            <div class="col-md-8">
                        <a href="#" class="events-btn float-right">Contact Us</a>
                        </div>
                        </div>
                </div>
                        <div class="col-md-10 mx-auto mt-5 programs">
                    <h3>The Athelet Program</h3>
            <p class="py-2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.            </p>
                        <div class="row programs-rates">
                            <div class="col-md-4">
                                <h4 class="expand">Rates <span>+</span></h4>
                                <h5 class="rate">190.5$</h5>
                            </div>
                            <div class="col-md-8">
                        <a href="#" class="events-btn float-right">Contact Us</a>
                        </div>
                        </div>
                </div>
                        <div class="col-md-10 mx-auto mt-5 programs">
                    <h3>After School Program</h3>
            <p class="py-2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.            </p>
                        <div class="row programs-rates">
                            <div class="col-md-4">
                                <h4 class="expand">Rates <span>+</span></h4>
                                <h5 class="rate">190.5$</h5>
                            </div>
                            <div class="col-md-8">
                        <a href="#" class="events-btn float-right">Contact Us</a>
                        </div>
                        </div>
                </div>
                <div class="col-md-10 mx-auto mt-5 programs">
                    <h3>Camp</h3>
            <p class="py-2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.            </p>
                        <div class="row programs-rates">
                            <div class="col-md-4">
                                <h4 class="expand">Rates <span>+</span></h4>
                                <h5 class="rate">190.5$</h5>
                            </div>
                            <div class="col-md-8">
                        <a href="#" class="events-btn float-right">Contact Us</a>
                        </div>
                        </div>
                </div>
            </div>
        </div>

    </div>