div{
	font-family: 'Montserrat';
}

.black {
    color: black;
    
}

.modal-container {
    color: black;
}

.modal-body {
    display: flex;
    flex-direction: row;
}

.btn-primary{
	color: #fd1541;
	background-color: transparent;
	border: none;
}

.al-text{
	color: #797979;
	padding-right: 5px;
}

.fa-toggle-on{
	color: #178e14;
}

