div{
	font-family: 'Montserrat';
}

.black {
    color: black;
    
}

.modal-container {
    color: black;
}

.modal-body {
    display: flex;
    flex-direction: row;
}

.btn-primary{
	color: #fd1541;
	background-color: transparent;
	border: none;
}

.btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: white;
    background-color: #fd1541;
    border: none;
}