 <!--HERO IMAGE START-->
<div class="bannerimage">
	
	<div class="container">
		<div class="impcont col-lg-6 col-md-6">
			<h1><b>PRICING/PLANS</b></h1>
		</div>
	</div>
</div>
<!-- HERO IMAGE END-->



<!-- PRICING SECTION -->
<div class="container pricingSect">

	<div class="col-lg-12 col-sm-12 pricingTitle text-center">
		<p>The Complete 90 offers you monthly or yearly memberships for both players and coaches. <br>Below you can compare and choose the right plan for you to take your game to the next level!</p>
	</div>

	<!-- PLAYER PRCING -->
	<div class="container">
		<div class="col-lg-4 col-lg-offset-4">
			<ul class="nav nav-pills text-center">
				<li role="presentation" (click)="setCycle('yearly')" [ngClass]="{'active': isYearly}"><a>YEARLY</a></li>
			  	<li role="presentation" (click)="setCycle('monthly')" [ngClass]="{'active': !isYearly}"><a>MONTHLY</a></li>
			</ul>
		</div>
	</div>
	<div class="col-lg-12 pricingBG">
		<div class="col-lg-6 col-md-6 col-sm-6 pricingCont text-center" id="p1">
			<img src="assets/player-pic.png">
			<h4><b>PLAYER</b></h4>
			<h3>FULL ACCESS TO COMPLETE<br>VIDEO CONTENT</h3>
			<h2>CREATE CUSTOM SESSIONS</h2>
			<h1>${{ playerPrice }}</h1>
			<h5 *ngIf="!isYearly">monthly</h5>
			<h5 *ngIf="isYearly">yearly</h5>
			<button (click)="selectPlan('player')">SELECT</button>
		</div>

		<!-- COACH PRICING -->
		<div class="col-lg-6 col-md-6 col-sm-6 pricingCont text-center" id="p3">
			<img src="assets/player-pic.png">
			<h4><b>MANAGER</b></h4>
			<h3>FULL ACCESS TO COMPLETE<br>VIDEO CONTENT</h3>
			<h2>CREATE CUSTOM SESSIONS</h2>
			<h1>$ {{ coachPrice }}</h1>
			<h5 *ngIf="!isYearly">monthly</h5>
			<h5 *ngIf="isYearly">yearly</h5>
			<button (click)="selectPlan('coach')">SELECT</button>
		</div>
	</div>
</div>
<!-- PRICING SECTION END -->


<!-- COMPARE SECTION -->
<div class="compareSectBG">
	<div class="container compareSect">
		<div class="col-lg-12 playerSub">
			<div class="col-lg-12">
				<h1><b>Player Subsciption</b></h1>
			</div>
			<div class="col-lg-12">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra sem in nulla faucibus venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra sem in nulla faucibus venenatis.<br>
				<br>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra sem in nulla faucibus venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra sem in nulla faucibus venenatis.
				</p>
			</div>
		</div>

		<div class="col-lg-12 coachSub">
			<div class="col-lg-12">
				<h1><b>Manager Subsciption</b></h1>
			</div>
			<div class="col-lg-12">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra sem in nulla faucibus venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra sem in nulla faucibus venenatis.<br>
				<br>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra sem in nulla faucibus venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra sem in nulla faucibus venenatis.
				</p>
			</div>
		</div>

	</div>
</div>
<!-- COMPARE SECTION END -->


<!-- QUOTE SECTION -->
	<div class="container">
		<div class="col-lg-12 quoteStyle text-center">
			<div>
				<h1><b>"Football is a simple game, the hard part is making it look simple.”</b> - RON GREENWOOD</h1>
			</div>
		</div>
	</div>
<!-- QUOTE SECTION END-->