<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
              <img src="assets/img/ngx-bootstrap.svg" class="logo">
            </a>
            <span class="navbar-brand">The Complete 90</span>
        </div>
        <ul class="nav navbar-nav navbar-center">
            <li class="active"><a href="#">
              HOME <span class="sr-only">(current)</span>
            </a></li>
            <li><a href="#">SESSIONS</a></li>
            <li><a href="#">PRICING/PLANS</a></li>
            <li><a href="#">PERS. TRAINING</a></li>
            <li><a href="#">ABOUT US</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
      		<li class="dropdown" dropdown> 
                <a dropdownToggle role="button"> 
                  LOGIN/REGISTER <span class="caret"></span></a>
                <ul *dropdownMenu class="dropdown-menu"> 
                    <li><a href="#">SIGN IN</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">REGISTER</a></li>
                </ul>
            </li>
    	</ul>
    </div>
</nav>