.navbar{
	font-family: 'Montserrat';
	/*background-color:transparent;*/
	background-color: #0000003d;

}

.navbar-nav>li>a {
	font-size: 14px;
    color: white;
}

.navbar-nav>li>a:hover {
	color: #f8c809;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-bottom: 1px solid #ffffff63;
}

.navbar-inverse {
    /*background-color: #222;*/
    border-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a{
	color: #f8c809;
	background-color: transparent;
}

.navbar-brand img{
	max-height: 100%;
}


.navbar-centered .navbar-nav {
        float: none;
        text-align: center;
    }
    .navbar-centered .navbar-nav > li {
        float: none;
    }
    .navbar-centered .nav > li {
        display: inline;
    }
    .navbar-centered .nav > li > a {
        display: inline-block;
    }