 <!--HERO IMAGE START-->
    <div class="bannerimage">
    	
    	<div class="container">
    		<div class="impcont col-lg-6 col-md-6">
    			<h1><b>EVENTS</b></h1>
    		</div>
    	</div>
    </div>
<!-- HERO IMAGE END-->


<!-- EVENTS TITLE -->
	<div class="container">
		<div class="col-lg-12 eventsTitle">
			<h1>2018 SOCCER CAMPS</h1>
		</div>
	</div>
<!-- EVENTS TITLE END -->


<!-- EVENTS DESCRIPTION -->
	<div class="container">
		<div class="col-lg-12 eventsDesc">
			<!-- <p><b>The Complete 90</b> team who is lead by two former professionals and former national team players Giuliano Frano and Dylan Carreiro have put together a developmental soccer camp this summer. Players will be challenged with a technical training session in the morning followed by a tactical session in the afternoon. Our focus will be to develop players understanding of the game in order to allow decision making to be more effective in knowing if a pass, shot or skill move is the correct choice in certain situations.<br>
			<br>
			Our lunch break will allow for additional learning in the form of direct coach to player interaction. This time will be used to break down games further and give players a chance to ask questions about our experiences as professionals and what it takes to get to the next level. In addition, Sonoma Heights has a shelter where we will rest in the shade or use in the case were conditions become unplayable.<br>
			<br>
			Let’s not forget about some fun! We will always make room for games towards the end of our afternoon session as we want players to let loose and enjoy the game in a less serious manner. At some point in the week we will head over to the tennis courts for a fan favorite, Soccer Tennis.<br>
			<br> 
			</p> -->

			<p>THE<b>COMPLETE 90</b> put together their inaugural developmental soccer camp this summer of 2018. It turned out to be such a success that we had a second week of camp immediately after. Players where challenged with a technical training session in the morning followed by a tactical session in the afternoon. Our focus was to develop players understanding of the game in order to allow decision making to be more effective. These decisions including knowing if a pass, shot or skill move is the correct choice in certain situations.<br>
			<br>
			Our lunch break allowed for additional learning in the form of direct coach to player interaction. This time was used to break down games further and give players a chance to ask questions about our experiences as professionals and what it takes to get to the next level.<br>
			<br>
			Let’s not forget about some fun! We always made room for games towards the end of our afternoon session as we want players to let loose and enjoy the game in a less serious manner.<br>
			<br> 
			</p>			
		</div>

		<!--<div class="col-lg-12 eventsLocation">
			<div class="col-lg-12 text-center">
				<i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
					<a href="https://www.google.ca/maps/place/Courtneypark+Athletic+Fields/@43.6242071,-79.7064315,17z/data=!4m8!1m2!3m1!2sCourtneypark+Athletic+Fields!3m4!1s0x882b3f72a39b55ef:0xa7ef4b262aaebc57!8m2!3d43.624253!4d-79.7055859" target="_blank"><p>Courtneypark Athletic Fields<br>
					Mississauga, ON<br>
				</p></a>
			</div>-->

		</div>


<!-- EVENTS DESCRIPTION END-->


<!-- EVENTS TABLES -->
	<div class="container">

		<!-- 1ST WEEEK -->
		<!-- <div class="campTable container-fluid col-lg-5 col-lg-offset-4">
			<div class="campTitle col-lg-12">
				<h1 class="ct-pa">July 16th - July 20th</h1>
			</div>
			<div class="campSubtitle col-lg-3 text-center">
				<h2 class="ct-pa">$400</h2>
			</div>
			<div class="campDesc col-lg-12">
				<p class="ct-pa">All ages Boys/Girls<br>
				Full Day Camp - 9:00 AM to 3:30 PM</p>
				<br>
				<p class="ct-pa">Camp Overview:<br>
				•20 Hours of training<br>
				•Licensed Coaches<br>
				•Coached by Former Professional Players<br>
				•Dri-fit t-shirt provided by Xiest<br>
				•Osmows catered lunch provided every day<br>
				</p>
			</div>
			<div class="registerbtn-cont col-lg-12 ma-l">
				<button class="registerbtn" id="week1btn" data-toggle="modal" data-target="#week1Reg">REGISTER</button>
			</div>
		</div> -->

		<!-- 1ST WEEEK -->
<!-- 		<div class="campTable container-fluid col-lg-5 col-lg-offset-1">
			<div class="campTitle col-lg-12">
				<h1 class="ct-pa">WEEK 2 (July 23rd - July 27th)</h1>
			</div>
			<div class="campSubtitle col-lg-3 text-center">
				<h2 class="ct-pa">$400</h2>
			</div>
			<div class="campDesc col-lg-12">
				<p class="ct-pa">All ages (Boys/Girls): <b>Recommended Ages 14+</b><br>
				Full Day Camp - 9:00 AM to 3:30 PM</p>
				<br>
				<p class="ct-pa">Camp Overview:<br>
				•20 Hours of training<br>
				•Licensed Coaches<br>
				•Coached by Former Professional Players<br>
				•Dri-fit t-shirt provided by Xiest<br>
				•Osmows catered lunch provided every day<br>
				</p>
			</div>
			<div class="registerbtn-cont col-lg-12 ma-l">
				<button class="registerbtn" id="week2btn" data-toggle="modal" data-target="#week2Reg">REGISTER</button>
			</div>		
		</div> -->


		<!-- CAMP RECAPS -->
		<!-- <div class="campTable container-fluid col-lg-5 col-lg-offset-1 col-sm-12">
			<div class="campTitle col-lg-12">
				<h1 class="ct-pa">Inagural Camp 2018</h1>
			</div>
			<div class="campDesc col-lg-12">
				<p class="ct-pa">July 16 - July 20<br>
				Ages 10-13</p>
				<br>
			</div>
		</div>

		<div class="campTable container-fluid col-lg-5 col-sm-12">
			<div class="campTitle col-lg-12">
				<h1 class="ct-pa">Developmental Camp 2018</h1>
			</div>
			<div class="campDesc col-lg-12">
				<p class="ct-pa">July 30 - August 3<br>
				Ages 10-13</p>
				<br>
			</div>
		</div> -->

		<!-- VIDEO RECAPS -->
		<div class="col-lg-6 col-sm-6 vid-pa">
			<div class="videoWrapper">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/05wGy231Lv4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>			
		</div>

		<div class="col-lg-6 col-sm-6 vid-pa">
			<div class="videoWrapper">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/feGzmxKZm94" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>			
		</div>
		<!-- VIDEO RECAPS END -->


		<!-- PICTURES RECAP -->
		<div class="container">

			<div class="row text-center">
	            <div class="gallerypics col-lg-4 col-sm-4">
	              <img src="assets/camp1.jpg">
	            </div>

	            <div class="gallerypics col-lg-4 col-sm-4">
	              <img src="assets/camp2.jpg">
	            </div>

	            <div class="gallerypics col-lg-4 col-sm-4">
	              <img src="assets/camp3.jpg">
	            </div>
          	</div>

			<div class="row text-center">
	            <div class="gallerypics col-lg-4 col-sm-4">
	              <img src="assets/camp4.jpg">
	            </div>

	            <div class="gallerypics col-lg-4 col-sm-4">
	              <img src="assets/camp5.jpg">
	            </div>

	            <div class="gallerypics col-lg-4 col-sm-4">
	              <img src="assets/camp6.jpg">
	            </div>
          	</div>


			<div class="row text-center">
	            <div class="gallerypics col-lg-4 col-sm-4">
	              <img src="assets/camp11.jpg">
	            </div>

	            <div class="gallerypics col-lg-4 col-sm-4">
	              <img src="assets/camp12.jpg">
	            </div>

	            <div class="gallerypics col-lg-4 col-sm-4">
	              <img src="assets/camp13.jpg">
	            </div>
          	</div>

			<div class="row text-center">
	            <div class="gallerypics col-lg-4 col-sm-4">
	              <img src="assets/camp15.jpg">
	            </div>

	            <div class="gallerypics col-lg-4 col-sm-4">
	              <img src="assets/camp18.jpg">
	            </div>

	            <div class="gallerypics col-lg-4 col-sm-4">
	              <img src="assets/camp16.jpg">
	            </div>
          	</div>

		</div>

		<!-- PICTURES RECAP END -->


		<!-- TESTIMONINALS --> 
		<div>
			<p class="testimonials text-center">
				<b>"Enjoyable, challenging , organized, forward training/thinking instructions, 

				Inclusive and encouraging approach to daily sessions and activities. As described by my son, as well as myself having spent 85% of the week observing and enjoying, the progression from day one to the elevated quality and confidence by weeks end was extremely noticeable."</b><br>
				<br>
				- Tasso Gilatis
			</p>

			<p class="testimonials pa-bt text-center">
				<b>"Since my son Julian began training with Giuliano at the Complete 90, we have seen an improvement not only with his technical skills and game play but also his confidence on the field. And he loves it.

				When he heard of the complete 90 summer camp he jumped at the opportunity. It was the best experience we have had with a camp. We received in advance a complete agenda of the training with explanations of skills covered and intensity level. They supplied a catered lunch daily and in the end we recieved an extensive report card of Julians strengths and areas to improve on. Julian liked it so much he signed up for a second week!

				Not to mention a great value for the week.

				Overall, a great experience and Julian continues to look forward to his sessions with Guiliano and the complete 90."</b><br>
				<br>
				- Lisa Srock
			</p>

		</div>
		<!-- TESTIMONIALS END -->


	</div>
<!-- EVENTS TABLES END -->


<!-- REGISTER MODAl -->

	<!-- WEEK 1 MODAL -->
<!-- 	<div class="modal fade" id="week1Reg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">

	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title text-center" id="savedSessModalTitle">CAMP REGISTRATION</h4>
	      </div>

	      <div class="modal-body">
	        <div class="registerForm">
	            <div class="form-group">
	                <input class="form-control text-center" id="regName" placeholder="Name" name="name">
	            </div>
	            <div class="form-group">
	                <input type="email" class="form-control text-center" id="regEmail" placeholder="Email" name="email">
	            </div>
	            <div class="form-group">
	                <input type="number" class="form-control text-center" id="inputAge" placeholder="Age" name="age">
	            </div>
	            <div class="form-group">
	                <input class="form-control text-center" id="regGender" placeholder="Gender" name="gender">
	            </div>	            
	            <div class="form-group">
	                <input class="form-control text-center" id="regJersey" placeholder="Jersey Size" name="jerseysize">
	            </div> 
	            <div class="form-group">
	                <input class="form-control text-center" id="regPosition" placeholder="Position" name="regPosition">
	            </div>                                    
	        </div>

	        <div class="text-center regBtnCont">
	        	<button class="registerbtnModal">REGISTER</button>
	        </div>
	      </div>

	    </div>
	  </div>
	</div> -->


	<!-- WEEK 2 MODAL -->
<!-- 	<div class="modal fade" id="week2Reg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">

	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title text-center" id="savedSessModalTitle">CAMP REGISTRATION</h4>
	      </div>

	      <div class="modal-body">
	        <div class="registerForm">
	            <div class="form-group">
	                <input class="form-control text-center" id="regName" placeholder="Name" name="name">
	            </div>
	            <div class="form-group">
	                <input type="email" class="form-control text-center" id="regEmail" placeholder="Email" name="email">
	            </div>
	            <div class="form-group">
	                <input type="number" class="form-control text-center" id="inputAge" placeholder="Age" name="age">
	            </div>
	            <div class="form-group">
	                <input class="form-control text-center" id="regGender" placeholder="Gender" name="gender">
	            </div>	            
	            <div class="form-group">
	                <input class="form-control text-center" id="regJersey" placeholder="Jersey Size" name="jerseysize">
	            </div> 
	            <div class="form-group">
	                <input class="form-control text-center" id="regPosition" placeholder="Position" name="regPosition">
	            </div>                                    
	        </div>

	        <div class="text-center regBtnCont">
	        	<button class="registerbtnModal">REGISTER</button>
	        </div>
	      </div>

	    </div>
	  </div>
	</div> -->
<!-- REGISTER MODAL END -->


<!-- SPONSORS SECTION -->
	<div class="sponsorBG">
		<div class="container">
			<div class="col-lg-12">
				<div class="sponTitle">
					<h1>OUR SPONSORS</h1>
				</div>
				<div class="col-lg-12 row sponRow">
					<div class="sponLogo1 col-lg-6 col-sm-6 text-center">
						<a href="https://www.xeist.com/" target="_blank"><img src="assets/xeist-logo.png"></a>
					</div>
					<div class="sponLogo2 col-lg-6 col-sm-6 text-center">
						<a href="http://mrosmow.com/#/" target="_blank"><img src="assets/osmows-logo.png"></a>
					</div>
					
				</div>
			</div>
		</div>
	</div>
<!-- SPONSORS SECTION END -->


<!-- QUOTE SECTION -->
	<div class="container">
		<div class="col-lg-12 quoteStyle text-center">
			<div>
				<h1><b>"Football is a simple game. The hard part is making it look simple.”</b> - RON GREENWOOD</h1>
			</div>
		</div>
	</div>
<!-- QUOTE SECTION END-->










