 <!--HERO IMAGE START-->
    <div class="bannerimage">
    	
    	<div class="container">
    		<div class="impcont col-lg-6 col-md-6">
    			<h1><b>EVENTS</b></h1>
    		</div>
    	</div>
    </div>
<!-- HERO IMAGE END-->


<!-- EVENTS TITLE -->
	<div class="container">
		<div class="col-lg-12 eventsTitle">
			<h1>2018 SOCCER CAMPS</h1>
		</div>
	</div>
<!-- EVENTS TITLE END -->


<!-- EVENTS DESCRIPTION -->
	<div class="container">
		<div class="col-lg-12 eventsDesc">
			<p><b>The Complete 90</b> team who is lead by two former professionals and former national team players Giuliano Frano and Dylan Carreiro have put together a developmental soccer camp this summer. Players will be challenged with a technical training session in the morning followed by a tactical session in the afternoon. Our focus will be to develop players understanding of the game in order to allow decision making to be more effective in knowing if a pass, shot or skill move is the correct choice in certain situations.<br>
			<br>
			Our lunch break will allow for additional learning in the form of direct coach to player interaction. This time will be used to break down games further and give players a chance to ask questions about our experiences as professionals and what it takes to get to the next level. In addition, Sonoma Heights has a shelter where we will rest in the shade or use in the case were conditions become unplayable.<br>
			<br>
			Let’s not forget about some fun! We will always make room for games towards the end of our afternoon session as we want players to let loose and enjoy the game in a less serious manner. At some point in the week we will head over to the tennis courts for a fan favorite, Soccer Tennis.<br>
			<br>
			SPLASH PAD! Sonoma Heights has a great splash pad which will be great for those hot summer days! Please be sure to pack a change of clothes and even a bathing suit.<br> 
			</p>
		</div>

		<div class="col-lg-12 eventsLocation">
			<div class="col-lg-12 text-center">
				<i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
				<!-- <a href="/#" target="_blank"><p>Mississauga<br> -->
					<a href="/#"><p>Mississauga<br>
				</p></a>
			</div>
			
		</div>
	</div>
<!-- EVENTS DESCRIPTION END-->


<!-- EVENTS TABLES -->
	<div class="container">

		<!-- 1ST WEEEK -->
		<div class="campTable container-fluid col-lg-5 col-lg-offset-4">
			<div class="campTitle col-lg-12">
				<h1 class="ct-pa">July 16th - July 20th</h1>
			</div>
			<div class="campSubtitle col-lg-3 text-center">
				<h2 class="ct-pa">$400</h2>
			</div>
			<div class="campDesc col-lg-12">
				<p class="ct-pa">All ages Boys/Girls<br>
				Full Day Camp - 9:00 AM to 3:30 PM</p>
				<br>
				<p class="ct-pa">Camp Overview:<br>
				•20 Hours of training<br>
				•Licensed Coaches<br>
				•Coached by Former Professional Players<br>
				•Dri-fit t-shirt provided by Xiest<br>
				•Osmows catered lunch provided every day<br>
				</p>
			</div>
			<div class="registerbtn-cont col-lg-12 ma-l">
				<button class="registerbtn" id="week1btn" data-toggle="modal" data-target="#week1Reg">REGISTER</button>
			</div>
		</div>

		<!-- 1ST WEEEK -->
<!-- 		<div class="campTable container-fluid col-lg-5 col-lg-offset-1">
			<div class="campTitle col-lg-12">
				<h1 class="ct-pa">WEEK 2 (July 23rd - July 27th)</h1>
			</div>
			<div class="campSubtitle col-lg-3 text-center">
				<h2 class="ct-pa">$400</h2>
			</div>
			<div class="campDesc col-lg-12">
				<p class="ct-pa">All ages (Boys/Girls): <b>Recommended Ages 14+</b><br>
				Full Day Camp - 9:00 AM to 3:30 PM</p>
				<br>
				<p class="ct-pa">Camp Overview:<br>
				•20 Hours of training<br>
				•Licensed Coaches<br>
				•Coached by Former Professional Players<br>
				•Dri-fit t-shirt provided by Xiest<br>
				•Osmows catered lunch provided every day<br>
				</p>
			</div>
			<div class="registerbtn-cont col-lg-12 ma-l">
				<button class="registerbtn" id="week2btn" data-toggle="modal" data-target="#week2Reg">REGISTER</button>
			</div>		
		</div> -->

	</div>
<!-- EVENTS TABLES END -->


<!-- REGISTER MODAl -->

	<!-- WEEK 1 MODAL -->
	<div class="modal fade" id="week1Reg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">

	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title text-center" id="savedSessModalTitle">CAMP REGISTRATION</h4>
	      </div>

	      <div class="modal-body">
	        <div class="registerForm">
	            <div class="form-group">
	                <input class="form-control text-center" id="regName" placeholder="Name" name="name">
	            </div>
	            <div class="form-group">
	                <input type="email" class="form-control text-center" id="regEmail" placeholder="Email" name="email">
	            </div>
	            <div class="form-group">
	                <input type="number" class="form-control text-center" id="inputAge" placeholder="Age" name="age">
	            </div>
	            <div class="form-group">
	                <input class="form-control text-center" id="regGender" placeholder="Gender" name="gender">
	            </div>	            
	            <div class="form-group">
	                <input class="form-control text-center" id="regJersey" placeholder="Jersey Size" name="jerseysize">
	            </div> 
	            <div class="form-group">
	                <input class="form-control text-center" id="regPosition" placeholder="Position" name="regPosition">
	            </div>                                    
	        </div>

	        <div class="text-center regBtnCont">
	        	<button class="registerbtnModal">REGISTER</button>
	        </div>
	      </div>

	    </div>
	  </div>
	</div>


	<!-- WEEK 2 MODAL -->
	<div class="modal fade" id="week2Reg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">

	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title text-center" id="savedSessModalTitle">CAMP REGISTRATION</h4>
	      </div>

	      <div class="modal-body">
	        <div class="registerForm">
	            <div class="form-group">
	                <input class="form-control text-center" id="regName" placeholder="Name" name="name">
	            </div>
	            <div class="form-group">
	                <input type="email" class="form-control text-center" id="regEmail" placeholder="Email" name="email">
	            </div>
	            <div class="form-group">
	                <input type="number" class="form-control text-center" id="inputAge" placeholder="Age" name="age">
	            </div>
	            <div class="form-group">
	                <input class="form-control text-center" id="regGender" placeholder="Gender" name="gender">
	            </div>	            
	            <div class="form-group">
	                <input class="form-control text-center" id="regJersey" placeholder="Jersey Size" name="jerseysize">
	            </div> 
	            <div class="form-group">
	                <input class="form-control text-center" id="regPosition" placeholder="Position" name="regPosition">
	            </div>                                    
	        </div>

	        <div class="text-center regBtnCont">
	        	<button class="registerbtnModal">REGISTER</button>
	        </div>
	      </div>

	    </div>
	  </div>
	</div>
<!-- REGISTER MODAL END -->


<!-- SPONSORS SECTION -->
	<div class="sponsorBG">
		<div class="container">
			<div class="col-lg-12">
				<div class="sponTitle">
					<h1>OUR SPONSORS</h1>
				</div>
				<div class="col-lg-12 row sponRow">
					<div class="sponLogo1 col-lg-6 text-center">
						<a href="https://www.xeist.com/" target="_blank"><img src="assets/xeist-logo.png"></a>
					</div>
					<div class="sponLogo2 col-lg-6 text-center">
						<a href="http://mrosmow.com/#/" target="_blank"><img src="assets/osmows-logo.png"></a>
					</div>
					
				</div>
			</div>
		</div>
	</div>
<!-- SPONSORS SECTION END -->


<!-- QUOTE SECTION -->
	<div class="container">
		<div class="col-lg-12 quoteStyle text-center">
			<div>
				<h1><b>"Football is a simple game. The hard part is making it look simple.”</b> - RON GREENWOOD</h1>
			</div>
		</div>
	</div>
<!-- QUOTE SECTION END-->










