<!--HERO IMAGE START-->
<div class="bannerimage">

	<div class="container">
		<div class="impcont col-lg-6 col-md-6">
			<h1><b>EVENTS</b></h1>
		</div>
	</div>
</div>
<!-- HERO IMAGE END-->


<!-- EVENTS TITLE -->
<div class="container">
	<div class="col-lg-12 eventsTitle">
		<h1>2020 SOCCER EVENTS REGISTRATION</h1>
	</div>
</div>
<!-- EVENTS TITLE END -->


<!-- EVENTS DESCRIPTION -->
<div class="container">
	<div class="col-lg-12 eventsDesc">
		<p>THE <b>COMPLETE 90</b>  offers elite soccer camps for high-level soccer players. In 2 short years, our camps have established themselves as the GTA’s GO-TO destination for technical and tactical coaching. <br>
	We pride ourselves on developing players into well-rounded soccer players and more importantly, into genuine people.
		</p>
	</div>

	</div>



<!-- EVENTS TABLES -->

<div class="container-fluid old-events">

	<div class="row">
		<div class="col-lg-12 new-event-title">
			<h1>2020 New Year, New GOALS Finishing Clinic</h1>
		</div>



	</div>

	<div class="row">

		<div class="col-md-6">
			<div class="videoWrapper">
				<iframe src="https://www.youtube.com/embed/d6Bj-yFm_5Q" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col-md-6">
			<p style="margin-bottom: 50px;">
				The Complete 90 and ROCA Technical Soccer Training ran a three-day finishing clinic to start the new year off on the right foot in 2020. Participants spent 3 hours a day improving their shooting accuracy and shooting power. In addition, we were able to create an environment where players had to make critical decisions inside the 18-yard box in order to create space and get a shot off.
			</p>

			<!-- Set up your HTML -->
			<div class="owl-carousel owl-carousel-summer owl-theme">
				<div> <img class="owl-img" src="assets/2020-1.jpg"> </div>
				<div> <img class="owl-img" src="assets/2020-2.jpg"> </div>
				<div> <img class="owl-img" src="assets/2020-3.jpg"> </div>
				<div> <img class="owl-img" src="assets/2020-4.jpg"> </div>
				<div> <img class="owl-img" src="assets/2020-5.jpg"> </div>
			</div>
		</div>

	</div>

</div>
<!-- SPONSORS SECTION -->
<div class="sponsorBG">
	<div class="container">
		<div class="sponTitle">
	<h1>SPONSORED BY </h1>
  </div>
  <div class="row">
	<div class="col-lg-12">
	  <div class="col-lg-12 row sponRow">
		<div class="sponLogo1 col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
		  <a href="#" target="_blank"><img src="assets/ftf-logo.png"></a>
		</div>
		<div class="sponLogo2 col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
		  <a href="#" target="_blank"><img src="assets/roca-logo.png"></a>
		</div>
		<div class="sponLogo1 col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
		  <a href="#" target="_blank"><img src="assets/boo-logo.png"></a>
		</div>
		<div class="sponLogo2 col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
		  <a href="#" target="_blank"><img src="assets/NUWTR-logo.png"></a>
		</div>


				</div>
			</div>
		</div>
	</div>
</div>
<!-- SPONSORS SECTION END -->



<div class="container-fluid old-events odd">
	<div class="row">
		<div class="col-lg-12 new-event-title">
			<h1>2019 Developmental Camp</h1>
		</div>

		<div class="col-md-6">
			<div class="videoWrapper">
				<iframe src="https://www.youtube.com/embed/feGzmxKZm94" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col-md-6">
			<p style="margin-bottom: 50px;">
				The Complete 90 shifted their focus to an older age group for the 2019 Developmental Camp. The Camp came at a perfect time as players were preparing for college showcases and college visits in the coming months. With this in mind, the week was dedicated to fitness, finishing and mental preparation for the players.
			</p>

			<!-- Set up your HTML -->
			<div class="owl-carousel owl-carousel-summer owl-theme">
				<div> <img  class="owl-img" src="assets/pic1.png"> </div>
				<div> <img  class="owl-img" src="assets/pic2.png"> </div>
				<div> <img  class="owl-img" src="assets/pic3.png"> </div>
				<div> <img  class="owl-img" src="assets/pic4.png"> </div>
				<div> <img  class="owl-img" src="assets/pic5.png"> </div>
				<div> <img  class="owl-img" src="assets/pic6.png"> </div>
	  <div> <img src="assets/pic7.png"> </div>
	  <div> <img src="assets/pic8.png"> </div>

			</div>
		</div>

	</div>

</div>

<!-- SPONSORS SECTION -->
<div class="sponsorBG odd">
	<div class="container">
		<div class="sponTitle">
	<h1>SPONSORED BY </h1>
  </div>
  <div class="row">
	<div class="col-lg-12">
	  <div class="col-lg-12 row sponRow">
		<div class="sponLogo1 col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
		  <a href="#" target="_blank"><img src="assets/osmo-logo.png"></a>
		</div>
		<div class="sponLogo2 col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
		  <a href="#" target="_blank"><img src="assets/xeist-logo.png"></a>
		</div>
		<div class="sponLogo1 col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
		  <a href="#" target="_blank"><img src="assets/boo-logo.png"></a>
		</div>
		<div class="sponLogo2 col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
		  <a href="#" target="_blank"><img src="assets/NUWTR-logo.png"></a>
		</div>


				</div>
			</div>
		</div>
	</div>
</div>
<!-- SPONSORS SECTION END -->


<div class="container-fluid old-events">

	<div class="row">
		<div class="col-lg-12 new-event-title">
			<h1>2018 Inaugural Camp</h1>
		</div>

		<div class="col-md-6">
			<div class="videoWrapper">
				<iframe src="https://www.youtube.com/embed/05wGy231Lv4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
		</div>
		<div class="col-md-6">
			<p style="margin-bottom: 50px;">
				The Complete 90 put together their 1st ever developmental soccer camp during the summer of 2018. Players were challenged with a technical training session in the morning impfollowed by a tactical session in the afternoon.
			</p>

			<!-- Set up your HTML -->
			<div class="owl-carousel owl-carousel-summer owl-theme">
				<div> <img class="owl-img" src="assets/camp1.jpg"> </div>
				<div> <img class="owl-img" src="assets/camp2.jpg"> </div>
				<div> <img class="owl-img" src="assets/camp3.jpg"> </div>
				<div> <img class="owl-img" src="assets/camp4.jpg"> </div>
				<div> <img class="owl-img" src="assets/camp5.jpg"> </div>
				<div> <img class="owl-img" src="assets/camp6.jpg"> </div>
	  <div> <img src="assets/camp7.jpg"> </div>
	  <div> <img src="assets/camp8.jpg"> </div>
	  <div> <img src="assets/camp9.jpg"> </div>
	  <div> <img src="assets/camp10.jpg"> </div>
	  <div> <img src="assets/camp11.jpg"> </div>
	  <div> <img src="assets/camp12.jpg"> </div>
	  <div> <img src="assets/camp13.jpg"> </div>
	  <div> <img src="assets/camp14.jpg"> </div>
	  <div> <img src="assets/camp15.jpg"> </div>
	  <div> <img src="assets/camp16.jpg"> </div>
			</div>
		</div>

	</div>

</div>

<!-- SPONSORS SECTION -->
<div class="sponsorBG">
	<div class="container">
		<div class="sponTitle">
			<h1>SPONSORED BY </h1>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-12 row sponRow">
					<div class="sponLogo1 col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
		  <a href="#" target="_blank"><img src="assets/osmo-logo.png"></a>
					</div>
					<div class="sponLogo2 col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
						<a href="#" target="_blank"><img src="assets/xeist-logo.png"></a>
					</div>
					<div class="sponLogo1 col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
						<a href="#" target="_blank"><img src="assets/boo-logo.png"></a>
					</div>
					<div class="sponLogo2 col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
		  <a href="#" target="_blank"><img src="assets/NUWTR-logo.png"></a>
					</div>


				</div>
			</div>
		</div>

	</div>
</div>





<!-- NEWSLETTER -->

<!-- Begin Mailchimp Signup Form -->
<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>

<div class="container-fluid newsletter-section">
	<div class="row m-0">
		<div class="col-md-6">
			<!-- Begin Mailchimp Signup Form -->

			<div id="mc_embed_signup">
			<form #f="ngForm" (ngSubmit)="mailchimpSubmit(f)" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div id="mc_embed_signup_scroll">
				<h2>Subscribe to our newsletter</h2>
			<div class="indicates-required"></div>
			<div class="mc-field-group">
				<label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
			</label>
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" ngModel required>
			</div>
			<div class="mc-field-group">
				<label for="mce-FNAME">First Name <span class="asterisk">*</span></label>
				<input type="text" value="" name="FNAME" class="" id="mce-FNAME" ngModel required>
			</div>
			<div class="mc-field-group">
				<label for="mce-LNAME">Last Name  <span class="asterisk">*</span></label>
				<input type="text" value="" name="LNAME" class="" id="mce-LNAME" ngModel required>
			</div>
			<div class="mc-field-group">
				<label for="mce-PHONE">Phone Number <span class="asterisk">*</span></label>
				<input type="text" name="PHONE" class="" value="" id="mce-PHONE" ngModel required>
			</div>

			<div class="alert alert-danger sub-error-msg" role="alert">
				Please fill in all required fields!
			  </div>
			<div class="alert alert-success sub-succ-msg" role="alert">
				Thank you for subscribing!
			</div>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_18e4ef69694befc5389a215f1_298bc9542e" tabindex="-1" value=""></div>
				<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				</div>
			</form>
			</div>
			<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
			<!--End mc_embed_signup-->

		</div>
		<div class="col-md-6 text-center">
			<img src="../../../assets/Newsletter Download Pic.png" class="subscribe-img" alt="">
		</div>
	</div>
</div>



<!--End mc_embed_signup-->

<!-- NEWSLETTER END -->



<!-- TESTIMONINALS -->
<div class="container testimonials-section">
	<div class="row">
		<div class="col-lg-12 new-event-title">
			<h1>TESTIMONIALS</h1>
		</div>
		<div class="col-md-12">

			<div class="owl-carousel owl-theme owl-carousel-testimoniels">
				<div>
					<p class="testimonials pa-bt text-center">
						<b>"Since my son Julian began training with Giuliano at The Complete 90, we have seen an improvement not only with his technical skills and game play but also his confidence on the field. And he loves it.

						When he heard of the complete 90 summer camp he jumped at the opportunity. It was the best experience we have had with a camp. We received in advance a complete agenda of the training with explanations of skills covered and intensity level. They supplied a catered lunch daily and in the end we recieved an extensive report card of Julians strengths and areas to improve on. Julian liked it so much he signed up for a second week!

						Not to mention a great value for the week.

						Overall, a great experience and Julian continues to look forward to his sessions with Giuliano and the complete 90."</b><br>
						<br>
						- Lisa Srock
					</p>
				</div>
				<div>
					<p class="testimonials text-center">
						<b>"Enjoyable, challenging , organized, forward training/thinking instructions,

						Inclusive and encouraging approach to daily sessions and activities. As described by my son, as well as myself having spent 85% of the week observing and enjoying, the progression from day one to the elevated quality and confidence by weeks end was extremely noticeable."
						</b>
						<br>
						<br>
						- Tasso Gilatis
					</p>
				</div>

			</div>
		</div>
	</div>

</div>
<!-- TESTIMONIALS END -->


<div class="container">
	<div class="row">
		<div class="col-md-12">
			<!-- Modal -->
			<div class="modal fade" id="myModal" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Modal Header</h4>
						</div>
						<div class="modal-body">
							<a class="slider-direction"><i class="fa fa-angle-left previous-slide"></i></a>
							<img src="" alt="" class="zoomed">
							<a class="slider-direction"><i class="fa fa-angle-right next-slide"></i></a>
						</div>
						<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>

				</div>
			</div>
	</div>
</div>
</div>





<!-- EVENTS TABLES END -->


<!-- QUOTE SECTION -->
<div class="container quote">
	<div class="col-lg-12 quoteStyle text-center">
		<div>
			<h1><b>"Football is a simple game. The hard part is making it look simple.”</b> - RON GREENWOOD</h1>
		</div>
	</div>
</div>
<!-- QUOTE SECTION END-->
