/*--------------------------TABLE OF CONTENTS-------------------------*/
/*
0. GLOBAL CCS
1. BANNER IMAGE
2. EVENTS TITLE
3. EVENTS DESCRIPTION
4. EVENTS TABLE

*/

/*----------------------------0. GOBAL CSSS--------------------------*/

div{
	font-family: 'Montserrat';
}

.inactiveLink{
   pointer-events: none;
   cursor: default;
}

.container-fluid{
	padding: 0px;
}

.ma-l{
	margin-left: 15px;
}

/*----------------------------1. BANNER IMAGE--------------------------*/
.bannerimage{
	padding-top: 120px;
	background-image: url('../../../assets/aboutus-banner.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 250px;
	width: 100%;
	color: white;
}

/*----------------------------2. EVENTS TITLE--------------------------*/
.eventsTitle{
	padding-top: 80px;
}

.eventsTitle h1{
	color: #252525;
	font-size: 26px;
}


/*--------------------------3. EVENTS DESCRIPTION------------------------*/
.eventsDesc{
	padding-top: 80px;
	color: #252525;
	font-size: 16px;	
}

/*----------------------------4. EVENTS TABLE --------------------------*/
.campTable{
	color: #252525;
	/*border: 1px solid black;*/
	margin-top: 20px;
	margin-bottom: 40px;
}

.ct-pa{
	padding-left: 15px;
	padding-right: 15px;
}

.campTitle h1{
	color: #fd1541;
	font-size: 20px;
	
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 0px;
	border-bottom: 1px solid #0000001a;
}

.campSubtitle h2{
	color: white;
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: #fd1541;
}

.campDesc{
	padding-top: 30px;
}

.registerbtn{
	background-color: transparent;
	border: 1px solid #fd1541;
	color: #fd1541;
}

.registerbtn:hover{
	background-color: #fd1541;
	color: white;
}



/* ----------------------------MEDIA QUERIES------------------------------*/

@media (max-width: 1024px) {



}






@media (max-width: 768px) {





}






@media (max-width: 414px) {



}