 <!--HERO IMAGE START-->
    <div class="heroimage">
    	
    	<div class="container">
    		<div class="impcont col-lg-6 col-lg-offset-7 col-md-6 col-md-offset-6">
    			<h1>IMPROVE YOUR SOCCER<br> SKILLS TODAY!</h1>
    		</div>
    		<div class="lrncont col-lg-6 col-lg-offset-7 col-md-6 col-md-offset-6">
    			<a href="">LEARN MORE</a>
    		</div>
    	</div>
    </div>
<!-- HERO IMAGE END-->


<!-- DESCRIPTION SECTION -->
	<div class="container descTitle">
		<h1>THE COMPLETE 90</h1>
	</div>



	<div class="container">
		<div class="col-lg-6 col-md-6 descpic">
			<img src="assets/player-silhouette.png">
		</div>

		<div class="col-lg-5 col-md-5 descpara">
			<p><b>THE COMPLETE 90</b> will take the time to significantly improve a players technique and skill set in an individual or small group environment, that is most beneficial for their development to play at the next level as a soccer player. Team environments are a great way to develop an understanding of the game, however, lack the necessary time and touches on the ball to improve technique.
			</p>

			<div class="offerTitle">
				<a href="#/" class="inactiveLink">WHAT WE OFFER</a>
				<p><br>
					•First Touch on the Ball<br>
					•Movement & Spacing<br>
					•Dribbling with Speed<br>
					•Finishing<br>
				</p>
			</div>
			<div class="readMore">
				<a href="#/"> READ MORE ></a>
			</div>
		</div>
	</div>
<!-- DESCRIPTION SECTION END-->



<!-- VIDEO SHOWCASE -->
	<div class="vidShowcasebg">
		<div class="container">


				<div class="col-lg-7 cold-md-5 mainVideo">
					<div class="videoWrapper">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/47HVAbzh-yM?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>

					<div class="col-lg-8 mainVideo">
						<h1>DRIBBLING EXERCISE</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra sem innsequat augue sem, eget varius velit dignissim eget.</p>
					</div>
				</div>

				<div class="col-lg-4 col-lg-offset-1 col-md-6 col-md-offset-3 createSes">
					<div class="col-lg-12 sesImgcont">
						<img src="assets/create-a-session.png" class="img-responsive">
					</div>
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-7 col-md-7">
							<h1>CREATE CUSTOM SESSIONS</h1></div>
							<div class="col-lg-5 col-md-5 sesLink text-center"><a href="/#">CREATE A SESSION</a></div>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra sem innsequat augue sem, eget varius velit dignissim eget.
						</p>
					</div>

					<div class="col-lg-12 persTrain">
						<div class="col-lg-12 text-center">
							<h1>1 ON 1 PERSONAL TRAINING<br> AVAILABLE LOCALLY</h1>
							<a href="#/">LEARN MORE</a>
						</div>
					</div>

				</div>


		</div>
	</div>
<!-- VIDEO SHOWCASE END -->



<!-- PLAYER/COACH SECTION-->
<div class="playercoachCont container-fluid">
	<div class="row">
		<!-- PLAYER SIDE -->
		<div class="playerPromoCont">
			<div class="col-lg-6 col-sm-12 playerPromo">

				<div class="col-lg-5 col-md-6 col-sm-6 playerPromoText">
					<a href="" class="inactiveLink">PLAYER</a>
					<h1><b>The Complete 90</b> for players</h1>
					<div class="PromoSignbtn">
						<a href="#/">SIGN UP</a>
					</div>
				</div>
				<div class="col-lg-6 col-sm-6">
					<img src="assets/playereditpic.png">
				</div>

			</div>	
		</div>


		<!-- COACH SIDE -->
		<div class="coachPromoCont">
			<div class="col-lg-6 col-sm-12 coachPromo">

				<div class="col-lg-5 col-md-5 col-sm-5 coachPromoText">
					<a href="" class="inactiveLink">COACH</a>
					<h1><b>The Complete 90</b> for coaches</h1>
					<div class="PromoSignbtn">
						<a href="#/">SIGN UP</a>
					</div>
				</div>
				<div class="col-lg-6 col-sm-6">
					<img src="assets/coachpic.png">
				</div>

			</div>		

		</div>
	</div>
</div>
<!-- PLAYER/COACH SECTION END -->



<!-- QUOTE SECTION -->
	<div class="container">
		<div class="col-lg-12 quoteStyle text-center">
			<div>
				<h1><b>"The SPEED I lack in my feet, I make up for in my mind!”</b> - DAVID TREZEGUET</h1>
			</div>
		</div>
	</div>
<!-- QUOTE SECTION END-->
