 <!--HERO IMAGE START-->
    <div class="heroimage">
    	
    	<div class="container">
    		<div class="impcont col-lg-6 col-lg-offset-7 col-md-6 col-md-offset-6">
    			<h1>IMPROVE YOUR SOCCER<br> SKILLS TODAY!</h1>
    		</div>
    		<div class="lrncont col-lg-6 col-lg-offset-7 col-md-6 col-md-offset-6">
    			<a [routerLink]="['/sessions']">LEARN MORE</a>
    		</div>
    	</div>
    </div>
<!-- HERO IMAGE END-->


<!-- DESCRIPTION SECTION -->
	<div class="container descTitle">
		<h1>THE<b>COMPLETE 90</b></h1>
	</div>



	<div class="container">
		<div class="col-lg-6 col-md-6 col-sm-6 descpic">
			<img src="assets/hero-2.png">
		</div>

		<div class="col-lg-5 col-md-5 descpara">
			<p>
			<!-- <b>THE COMPLETE 90</b> will take the time to significantly improve a players technique and skill set in an individual or small group environment, that is most beneficial for their development to play at the next level as a soccer player. <br>
			<br><br> -->
			<b><i class="fa fa-video-camera"></i>&nbsp; HD Video Content</b><br>
			Have access to over 90+ HD drills. All of which are categorized into Ball Mastery, Wall Work,  and Core.
			<br><br>
			<b><i class="fa fa-cogs"></i>&nbsp; Custom Sessions</b><br>
			Create a custom session with the drills you want to improve on. Revisit these sessions as muany times as you like or create new ones.
			<br><br>
			<b><i class="fa fa-bar-chart"></i>&nbsp; Track Your Progress</b><br>
			All sessions are set up on a timer so you can keep track of your dedication to training.
			<br><br>
			<b><i class="fa fa-user"></i>&nbsp; Personalized Profile</b><br>
			Keep your profile up to date with current player attributes. Be sure to access your profile frequently to view new suggested drills.
			</p>

			<div class="readMore">
				<a [routerLink]="['/pricing']" > SIGN UP ></a>
			</div>

			<!-- <div class="offerTitle">
				<a class="inactiveLink">TRAINING WE OFFER</a>
				<p><br>
					•First Touch on the Ball<br>
					•Movement & Spacing<br>
					•Dribbling with Speed<br>
					•Finishing<br>
				</p>
			</div>
			<div class="readMore">
				<a [routerLink]="['/training']" > READ MORE ></a>
			</div> -->
		</div>
	</div>
<!-- DESCRIPTION SECTION END-->



<!-- VIDEO SHOWCASE -->
	<div class="vidShowcasebg">
			<!-- <div class="videoWrapper">
				<iframe width="560" height="315" scrolling="yes" src="https://vimeo.com/user92504425/review/304736375/97a54daf8c?showinfo=0&controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div> -->
			<video width="100%" controls controlsList=”nodownload” loop muted>
				<source src="https://s3.us-east-2.amazonaws.com/complete09/Public/The+Complete+90+Promo+Video+Final.mp4" type="video/mp4">
					Your browser does not support HTML5 Video.
			</video>
	</div>
<!-- VIDEO SHOWCASE END -->



<!-- PLAYER/COACH SECTION-->
<div class="playercoachCont container-fluid">
	<!-- SMALL DISPLAY -->
	<!-- <div class="row"> -->
		<!-- PLAYER SIDE -->
		<div class="playerPromoCont" id="sm-ad">
			<div class="col-sm-12 playerPromo">

				<div class="col-lg-5 col-md-6 col-sm-6 playerPromoText">
					<a href="" class="inactiveLink">PLAYER</a>
					<h1>THE<b>COMPLETE 90</b> for players</h1>
					<div class="PromoSignbtn">
						<a [routerLink]="['/login_signup']">SIGN UP</a>
					</div>
				</div>
				<div class="col-lg-6 col-sm-6">
					<img src="assets/playereditpic.png">
				</div>

			</div>	
		</div>
		<!-- COACH SIDE -->
		<div class="coachPromoCont" id="sm-ad">
			<div class="col-sm-12 coachPromo">

				<div class="col-lg-5 col-md-5 col-sm-5 coachPromoText">
					<a href="" class="inactiveLink">MANAGER</a>
					<h1>THE<b>COMPLETE 90</b> for managers</h1>
					<div class="PromoSignbtn">
						<a href="#" onclick="return false;">COMING SOON</a>
					</div>
				</div>
				<div class="col-lg-6 col-sm-6">
					<img src="assets/coachpic.png">
				</div>

			</div>		
		</div>

		<!-- LARGE DISPLAY -->
		<ul class="flexlist" id="lg-ad">
			<!-- PLAYER SIDE -->
			<li class="flexlist-item playerPromo">
				<div class="col-lg-5 col-md-6 col-sm-6 playerPromoText">
					<a href="" class="inactiveLink">PLAYER</a>
					<h1>THE<b>COMPLETE 90</b> for players</h1>
					<div class="PromoSignbtn">
						<a [routerLink]="['/login_signup']">SIGN UP</a>
					</div>
				</div>
				<div class="col-lg-6 col-sm-6">
					<img src="assets/playereditpic.png">
				</div>
			</li>

			<!-- COACH SIDE -->
		    <li class="flexlist-item coachPromo">
		    	<div class="col-lg-5 col-md-5 col-sm-5 coachPromoText">
					<a href="" class="inactiveLink">MANAGER</a>
					<h1>THE<b>COMPLETE 90</b> for managers</h1>
					<div class="PromoSignbtn">
						<a href="#" onclick="return false;">COMING SOON</a>
					</div>
				</div>
				<div class="col-lg-6 col-sm-6">
					<img src="assets/coachpic.png">
				</div>
		    </li> 
		</ul>
	<!-- </div> -->
</div>
<!-- PLAYER/COACH SECTION END -->



<!-- QUOTE SECTION -->
	<div class="container">
		<div class="col-lg-12 quoteStyle text-center">
			<div>
				<h1><b>"The SPEED I lack in my feet, I make up for in my mind!”</b> - DAVID TREZEGUET</h1>
			</div>
		</div>
	</div>
<!-- QUOTE SECTION END-->
