 <!--HERO IMAGE START-->
    <div class="bannerimage">
    	
    	<div class="container">
    		<div class="impcont col-lg-6 col-md-6">
    			<h1><b>PERSONAL TRAINING</b></h1>
    		</div>
    	</div>
    </div>
<!-- HERO IMAGE END-->



<!-- SESSIONS EXPLAINED -->
	<div class="container">
		<div class="col-lg-12 expTitle">
			<h1>We offer 3 different types of sessions for our clients</h1>
			<p><i>Personal Training is only available for locals within the Greater Toronto Area.</i></p>
		</div>


	</div>

<!-- SESSIONS EXPLAINED END -->



<!-- SESSIONS BREAK DOWN -->
	<div class="container sessionsBD">
		<div class="col-lg-12 row">
			<div class="col-lg-11 sessionTitle">
				<h1>1 on 1 Sessions</h1>
			</div>

			<!-- <div class="col-lg-3 sessionTitle">
				<h1>BOOK SESSION</h1>
			</div> -->				
		</div>


		<div class="col-lg-10 sessionDesc">
			<p>Our goal is to create an environment and session where you can improve upon all aspects of your game. The Complete 90’s 1 hour session will be broken down into drills focused highly on technique which will then be implemented into higher intensity drills focused on repetition at speed. The remaining time will be spent working on agility/ strength or any other aspect of the game you would like.<br>  
			<br>
			Find the coach that is the best fit for you and your position and allow The Complete 90 to mold you into a complete player! On the other hand, if 1 on 1 sessions are a bit out of your price range then maybe a group session will work best for you.<br>
			<br>
			Rates:<br>
			$60 - 1 Hour Session<br>
			$80 - 1.5 Hour Session<br>
			$100 - 2 Hour Session
			</p>
		</div>


		<div class="col-lg-11 sessionTitle">
			<h1>Small Group Sessions</h1>
		</div>

		<div class="col-lg-10 sessionDesc">
			<p>When teammates start seeing your improvements in training and want the same results, make sure to bring them out for a group session. Small group sessions are great in the sense that you will still get plenty of touches on the ball with your coach, as well as giving everybody the attention needed. Furthermore, our coaches will be able to create game-like drills that will better your understanding of finding solutions in certain scenarios.<br>  
			<br>
			If you are a coach of a club team and are unable to make a session or just feel like staying home and taking the day off then give The Complete 90 a call and we will take over for the night. If there is a team focus for the night then we will stick with it, otherwise we can create a program just for the one session or for multiple sessions.<br>
			<br>
			Rates:<br>
			<br>
			2 players<br>
			$40 each - 1 Hour Session<br>
			$50 each - 1.5 Hours Session<br>
			$60 each - 2 Hours Session<br>
			<br>
			3+ players<br>
			$30 each - 1 Hour Session<br>
			$40 each - 1.5 Hour Session<br>
			$50 each - 2 Hours Session<br>
			</p>
		</div>				


		<div class="col-lg-11 sessionTitle">
			<h1>Goalkeeper Training</h1>
		</div>

		<div class="col-lg-10 sessionDesc">
			<p>It is rare to find good goalkeeper coaches in Ontario but at The Complete 90 we have one of the best. The latest modern goalkeeper training methods and drills are so beneficial and fun that all our coaches jump into net from time to time.<br>  
			<br>
			What you will improve on with our UEFA “B” licensed coach:<br>
			<br>
			•Positional awareness<br>
			•Shot stopping<br>
			•1v1 situations<br>
			•Communication<br>
			•Reflexes<br>
			•Foot work<br>
			•Distribution<br>
			<br>
			Rates:<br>
			$60 - 1 Hour Session<br>
			$80 - 1.5 Hour Session<br>
			$100 - 2 Hour Sessio<br>
			</p>
		</div>

	</div>	
<!-- SESSIONS BREAK DOWN END -->



<!-- VIDEO SHOWCASE -->
	<div class="vidShowcasebg">
		<div class="container">
			<div class="col-lg-12 showcaseTitle">
				<h1>WHAT OUR SESSIONS LOOK LIKE</h1>
			</div>	

			<div class="col-lg-12 cold-md-10 mainVideo">
				<div class="videoWrapper">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/O5Eiy3xp7Ao" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>

<!-- 				<div class="col-lg-8 mainVideo">
					<h1>FINISHING SESSION</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra sem innsequat augue sem, eget varius velit dignissim eget.</p>
				</div> -->
			</div>

<!-- 			<div class="col-lg-4 col-lg-offset-1 col-md-6 col-md-offset-3 createSes">
				<div class="col-lg-12 sesImgcont">
					<img src="assets/create-a-session.png" class="img-responsive">
				</div>
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-7 col-md-7">
						<h1>CREATE CUSTOM SESSIONS</h1></div>
						<div class="col-lg-5 col-md-5 sesLink text-center"><a href="/#">CREATE A SESSION</a></div>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra sem innsequat augue sem, eget varius velit dignissim eget.
					</p>
				</div>

				<div class="col-lg-12 persTrain">
					<div class="col-lg-12 text-center">
						<h1>1 ON 1 PERSONAL TRAINING<br> AVAILABLE LOCALLY</h1>
						<a href="#/">LEARN MORE</a>
					</div>
				</div>

			</div> -->


		</div>
	</div>
<!-- VIDEO SHOWCASE END -->


<!-- QUOTE SECTION -->
	<div class="container">
		<div class="col-lg-12 quoteStyle text-center">
			<div>
				<h1><b>"There has to be thought behind every touch of the ball.”</b> - DENNIS BERGKAMP</h1>
			</div>
		</div>
	</div>
<!-- QUOTE SECTION END-->






