/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";*/
/*@import "../node_modules/bootstrap/dist/css/bootstrap.css";*/
/*@import 'variables';*/
@import '../node_modules/font-awesome/css/font-awesome.css';
/* @import "~owl.carousel2/dist/assets/owl.carousel.css"; */
@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face { font-family: Montserrat; src: url('assets/Montserrat-Regular.ttf'); } 
@font-face { font-family: Montserrat; font-weight: bold; src: url('assets/Montserrat-Bold.ttf');}

body {
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-weight: 300;
    letter-spacing: 0.1px;
    padding: 0;
    margin: 0px auto;
    color: white;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html,
body {
    height: 100%;
}
/* 
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}

.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
} */
.mb-5 {
    margin-bottom: 50px;
}
.mt-5 {
    margin-top: 50px;
}

.site-btn {
    background-color: #fd1541;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 0px;
    color: white;
    border-radius: 0px;
}